CppProperties.json
main.exe
myamazingdb.txt
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/MightyMorphinNoSQL/config/applicationhost.config
.vs/MightyMorphinNoSQL/CopilotIndices/17.12.68.61481/CodeChunks.db
.vs/MightyMorphinNoSQL/CopilotIndices/17.12.68.61481/SemanticSymbols.db
.vs/MightyMorphinNoSQL/CopilotIndices/17.12.68.61481/SemanticSymbols.db-shm
.vs/MightyMorphinNoSQL/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
.vs/MightyMorphinNoSQL/FileContentIndex/13a2c3ec-eb11-467d-9d80-a8b723d52105.vsidx
.vs/MightyMorphinNoSQL/FileContentIndex/075d9d00-fc59-401b-907f-3007d1f0e305.vsidx
.vs/MightyMorphinNoSQL/FileContentIndex/cef8d3d1-76f7-41b2-915a-2003d5c8fffd.vsidx
.vs/MightyMorphinNoSQL/v17/.wsuo
.vs/MightyMorphinNoSQL/v17/Browse.VC.db
.vs/MightyMorphinNoSQL/v17/DocumentLayout.json
.vs/MightyMorphinNoSQL/v17/ipch/AutoPCH/3c9428495a037a95/MAIN.ipch
.vs/MightyMorphinNoSQL/v17/ipch/AutoPCH/62e79612a68098ed/MAIN.ipch
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/Debug/main.o
build/Debug/myamazingdb.txt
build/Debug/outDebug.exe

.vs/MightyMorphinNoSQL/CopilotIndices/17.12.68.61481/CodeChunks.db-shm

.vs/MightyMorphinNoSQL/CopilotIndices/17.12.68.61481/CodeChunks.db-wal

.vs/MightyMorphinNoSQL/FileContentIndex/a31b5044-22ef-4cdb-8a36-88d6c084c713.vsidx

.vs/MightyMorphinNoSQL/FileContentIndex/e847f1b9-8916-4ae9-8f65-683ab212fd34.vsidx

.vs/MightyMorphinNoSQL/FileContentIndex/ef25f21e-ae28-4444-8b0e-7d0569e9d8a0.vsidx

.vs/MightyMorphinNoSQL/v17/Browse.VC.db-shm

.vs/MightyMorphinNoSQL/v17/Browse.VC.db-wal

.vs/MightyMorphinNoSQL/v17/Browse.VC.opendb

.vs/MightyMorphinNoSQL/FileContentIndex/
